<html>
    <head>
        <title> Foccacia Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <!--- Menu --->
        <!--- <a href="/"> Home </a>--->
        <a href=".home.html"> Home</a> 
        <!--- <a href="/site/groups"> Groups </a> --->
        <a href="./groupsList.html"> Groups </a> 
        <!--- <a href="/site/competitions"> Competitions </a> --->
        <a href="./competitionsList.html"> Competitions </a>

        <ul>
            <li>Name : Best Champions League 2023 </li>
            <li>Description : Description of group </li>
        </ul>

        <h2>List of players</h2>
        <table class="table" >
                <tr>
                    <th>Player Name</th>
                    <th>Team Name</th>
                    <th>Position</th>
                    <th>Nationality</th>
                    <th>Age</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Jogador 1</td>
                    <td> ... </td>
                    <td> ... </td>
                    <td> ... </td>
                    <td> ... </td>
                    <td>
                        <form action="/site/groups/1/players/1/delete" method="POST">
                                <input type="submit" value="del">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Jogador 2</td>
                    <td> ... </td>
                    <td> ... </td>
                    <td> ... </td>
                    <td> ... </td>
                    <td>
                        <form action="/site/groups/1/players/2/delete" method="POST">
                                <input type="submit" value="del">
                        </form>
                    </td>
                </tr>
            </table>


        <!---<a href="/teams/CL/2023"> Add Player </a> --->
        <a href="./teamsList.html"> Add Player </a> 

    </body>
</html> 