<html>
    <head>
        <title> Foccacia Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <!--- Menu --->
        <!--- <a href="/"> Home </a>--->
        <a href="./home.html">Home </a> 
        <!--- <a href="/site/groups"> Groups </a> --->
        <a href="./groupsList.html"> Groups </a> 
        <!--- <a href="/site/competitions"> Competitions </a> --->
        <a href="./competitionsList.html"> Competitions </a>

        <h1>HOME</h1>
     </body>
</html> 
