<html>
    <head>
        <title> Football Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <!--- Menu --->
        <!--- <a href="/"> Home </a>--->
        <a href="./home.html"> Home </a> 
        <!--- <a href="/site/groups"> Groups </a> --->
        <a href="./groupsList.html"> Groups </a> 
        <!--- <a href="/site/competitions"> Competitions </a> --->
        <a href="./competitionsList.html"> Competitions </a>

        <h1>Group Best Champions League 2023</h1>

        <p><a href="#sporting">Sporting</a></p>
        <p><a href="#benfica">Benfica</a></p>

        <h1>List of players</h1>

        <div id="sporting">
            <h2>Sporting</h2>
            <h4> Country: Portugal </h4>
            <table class="table" >
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Jogador A</td>
                    <td>Goalkeeper</td>
                    <td>
                        <form action="/site/groups/1/players" method="POST">
                            <input type="hidden" name="playerId" value="1">
                            <input type="hidden" name="teamId" value="1">
                            <input type="submit" value="add">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Jogador B</td>
                    <td>Centre-Back</td>
                    <td>
                        <form action="/site/groups/1/players" method="POST">
                            <input type="hidden" name="playerId" value="2">
                            <input type="hidden" name="teamId" value="1">
                            <input type="submit" value="add">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div id="benfica">
            <h2>Benfica</h2>
            <h4> Country: Portugal </h4>
            <table class="table" >
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Jogador C</td>
                    <td>Goalkeeper</td>
                    <td>
                        <form action="/site/groups/1/players" method="POST">
                                <input type="hidden" name="playerId" value="3">
                                <input type="hidden" name="teamId" value="2">
                                <input type="submit" value="add">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Jogador D</td>
                    <td>Midfield</td>
                    <td>
                        <form action="/site/groups/1/players" method="POST">
                                <input type="hidden" name="playerId" value="4">
                                <input type="hidden" name="teamId" value="2">
                                <input type="submit" value="add">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
            
    </body>
</html> 